extends layout

block content
  .row-fluid
    .span12
      .hero-unit
        h1 E-discovery At Your Finger Tips
  .row-fluid
    .span4.box
      h2 Analysis
      p Increase your speed and quality of decisions with strategic insight at the start of investigations and review projects. At the same time, have the analysis integrated into the standard search and review workflows.
    .span4.box
      h2 Review
      p A complete document review environement that is fast, flexible and easy to master. It couples powerful keyword search and concept clustering. We emphasis on ease of use and it had never been more user-friendly.
    .span4.box
      h2 Production
      p We can efficiently produce documents in all formats for a multitude of parties. View production history, imaged and native documents side by side; or produce text-searchable PDFs with ease.