doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    style(type='text/css')
      body {
        padding-top: 150px;
        padding-bottom: 40px;
      }
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap-responsive.min.css')
    #link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css') 
    
  body
    div.navbar.navbar-inverse.navbar-fixed-top
      div.navbar-inner
        div.container-fluid
          a.brand(href='#') 
            img(src='images/ediscover_logo.png')
          .login.pull-right
            a.btn 
              i.icon-user
              | Login
    .container-fluid
      block content
      .row-fluid  
        block footer
          #footer
            .pull-right
              p Copyright ©1999-2012 Ediscover Pte Ltd. All rights reserved.
      script(src="/javascripts/lib/jquery-1.7.1.min.js", type="application/javascript")