@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
    padding-top: 150px;
    min-height: 700px;
    min-width: 1024px;
    height: 100%;
}

.navbar-inverse .navbar-inner {
	background-image: url('/images/header-background.png');
	background-repeat: repeat-x;
	overflow: hidden;
}

.navbar-inner {
	filter: none;
}

#footer {
	margin-top: 2em;
	margin-bottom: 1em;
	padding-top: 1em;
	border-top: 1px solid #D4CDC1;
	color: #fff;
	bottom: 0;
}

.login {
	padding-top: 2em;
}

.navbar-shadow {
	 -moz-box-shadow:    0px 3px 5px 6px #313131;
  -webkit-box-shadow: 0px 3px 5px 6px #313131;
  box-shadow:         0px 3px 5px 6px #313131;
}

.banner {
	background-image: url('/images/banner.png');
	width: 940px;
	height: 400px;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
   -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  margin-left: 20px;
  margin-bottom: 20px;
}

.center {
	text-align: center;
}

.span4 div {
 
}

.span4 h2 {
	padding-left: 10px;
}

.span4 p {
	padding-left: 10px;
}

.hero-unit {
	background: none;
	color: #ffffff;
	text-align: center;
	font-family: 'Ubuntu';
}

.hero-unit h1 {
	word-wrap: break-word;
	white-space: normal;
}

.box {
	padding: 5px;
	 border-color: #000000;
  background-color: #000;
	-webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}